<button mat-flat-button class="add">
  <mat-icon>add</mat-icon> Add Car
</button>

<mat-table [dataSource]="cars">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>CAR</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="brand">
    <mat-header-cell *matHeaderCellDef>BRAND</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.brand}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>PRICE</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.price}} €</mat-cell>
  </ng-container>
  <ng-container matColumnDef="fuelType">
    <mat-header-cell *matHeaderCellDef>FUEL TYPE</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.fuelType}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="horsePower">
    <mat-header-cell *matHeaderCellDef>HORSER POWER</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.horsePower}} hp</mat-cell>
  </ng-container>
  <ng-container matColumnDef="startOfSales">
    <mat-header-cell *matHeaderCellDef>START OF SALES</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.startOfSales}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="endOfSales">
    <mat-header-cell *matHeaderCellDef>END OF SALES</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.endOfSales}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <ng-container *matHeaderCellDef></ng-container>
    <div class="actions" *matCellDef="let car">
      <button mat-button [routerLink]="['/app/cars/edit', car.id]">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-button (click)="deleteCar(car.id)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </ng-container>
  <mat-header-row *matHeaderRowDef="cols"></mat-header-row>
  <mat-row *matRowDef="let row; columns: cols"></mat-row>
</mat-table>
