<app-language-selector></app-language-selector>
<app-loading-overlay *ngIf="loading$ | async" @fade></app-loading-overlay>

<button class="raised" mat-button routerLink="../edit/new">
  <mat-icon>add</mat-icon> {{'form.overview.add' | translate}}
</button>

<mat-table matSort (matSortChange)="updateSortedCars($event)" [dataSource]="sortedCars$ | async">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header="name">{{'car.name' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="brand">
    <mat-header-cell *matHeaderCellDef mat-sort-header="brand">{{'car.brand' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.brand}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header="price">{{'car.price' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let car">
      <ng-container *ngIf="car.price">
        {{car.price}} €
      </ng-container>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="fuelType">
    <mat-header-cell *matHeaderCellDef mat-sort-header="fuelType">{{'car.fuelType' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let car">{{ 'fuel.' + car.fuelType | translate }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="horsePower">
    <mat-header-cell *matHeaderCellDef mat-sort-header="horsePower">{{'car.horsePower' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let car">{{car.horsePower}} {{'unit.hp' | translate}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="startOfSales">
    <mat-header-cell *matHeaderCellDef mat-sort-header="startOfSales">{{'car.startOfSales' | translate}}
    </mat-header-cell>
    <mat-cell *matCellDef="let car">{{localizeDate(car.startOfSales) | async}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="endOfSales">
    <mat-header-cell *matHeaderCellDef mat-sort-header="endOfSales">{{'car.endOfSales' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let car">{{localizeDate(car.endOfSales) | async}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-header"></mat-header-cell>
    <mat-cell *matCellDef="let car" class="action-cell">
      <app-loading-overlay *ngIf="(deleting$ | async).includes(car.id)" @fade></app-loading-overlay>
      <div class="actions">
        <button mat-button [routerLink]="['/app/cars/edit', car.id]">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-button (click)="deleteCar(car.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="colNames"></mat-header-row>
  <mat-row *matRowDef="let row; columns: colNames"></mat-row>
</mat-table>