@import '~@angular/material/theming';

mat-table {
  @include mat-elevation(4);
  
  mat-header-cell ::ng-deep button{
    text-align: unset;
  }

  .action-header, .action-cell {
    flex: 0 0 50px;
  }

  mat-header-row {
    background-color: #f5a623;

    .mat-header-cell{
      font-weight: bold;
      font-size: 0.95em;
      color: black;
    }
  }

  mat-row{
    position: relative;
    font-size: 0.9em;
    &:nth-child(even) {
      background-color: #eee;
    }

    .actions{
      height: 100%;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      button{
        padding: 0;
        min-width: 36px;
      }
    }
  }
}
