<h1 class="mat-display-1">
  {{actionName()}} Car
</h1>

<form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field>
    <mat-label>name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>horsePower</mat-label>
    <input matInput type="text" formControlName="horsePower">
  </mat-form-field>
  <mat-form-field>
    <mat-label>brand</mat-label>
    <input matInput type="text" formControlName="brand">
  </mat-form-field>
  <mat-form-field>
    <mat-label>fuelType</mat-label>
    <input matInput type="text" formControlName="fuelType">
  </mat-form-field>
  <mat-form-field>
    <mat-label>price</mat-label>
    <input matInput type="text" formControlName="price">
  </mat-form-field>
  <div class="sales-date-group">
    <mat-form-field>
      <input matInput [matDatepicker]="sos" [required]="form.value.endOfSales && form.value.endOfSales  !== ''" formControlName="startOfSales">
      <mat-datepicker-toggle matSuffix [for]="sos"></mat-datepicker-toggle>
      <mat-datepicker #sos></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="eos" [required]="form.value.startOfSales && form.value.startOfSales  !== ''" formControlName="endOfSales">
      <mat-datepicker-toggle matSuffix [for]="eos"></mat-datepicker-toggle>
      <mat-datepicker #eos></mat-datepicker>
    </mat-form-field>
  </div>
  <button [disabled]="!form.valid" class="raised" mat-button type="submit">{{actionName()}}</button>
</form>