@import '~@angular/material/theming';


.form{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

[matsuffix]{
  font-size: 0.9em;
  color: #555;
}

.sales-date-group{
  display: flex;
  flex-direction: row;
  mat-form-field{
    width: 100%;
    margin:5px;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}